# Dependencias
node_modules/
*/node_modules/

# Variables de entorno
.env
*/.env

# Archivos de construcción
build/
dist/

# Logs
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/